@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

* body {
  background-image: url("https://i.imgur.com/vBDsMvH.png");
  font-family: 'Oswald', sans-serif!important;
  padding-top: 12vh;
}

.logo {
  padding-top: 50px;
  text-align: center;
}

.container {
  background-color: white;
}
/* Navbar */
.navbar {
  background-color: black;
  height: 100px;
}

.navbar li {
  padding-left: 100px;
}

.home {
  grid-area: home;
  justify-self: end;
}

.home a {
  color: white!important;
}

.menu {
  grid-area: menu;
}

.menu a {
  color: white!important;
}

.about-us {
  grid-area: about-us;
  justify-self: start;
}

.about-us a {
  color: white!important;
}
/* Slider */
.carousel-inner {
  height: 600px;
  align-self: center!important;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}
/* Algemene style van de cards */
.card {
  border: none!important;
  background-color: hsla(360, 100%, 100%, 0)!important;
  width: 250px!important;
}

.card-title {
  color: brown;
}

.card-body {}

.grid-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: "card-1 card-2 card-3 card-4";
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}
/* Menu */
.divider {
  width: 100%;
  border: 1px solid brown;
}

.tab-content {
  padding-top: 32px;
}

.food-menu-card .media h3 {
  color: brown!important;
  background-color: hsla(360, 100%, 100%, 0)!important;
}

.food-menu-card {
  padding-top: 50px;
  background-color: white;
  border-radius: 8px;
}

.mb-0,
.my-0 {
  font-style: italic;
  text-align: left;
}

.food-menu-card .media strong {
  color: black!important;
  background-color: hsla(360, 100%, 100%, 0)!important;
}

.food-menu-card .media {
  margin-bottom: 20px;
}

.food-menu-card .media .img-fluid {
  border-radius: 3px;
  width: 80px;
}

.food-menu-card .media .d-flex {
  position: relative;
}

.food-menu-card .media .d-flex:before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
}

.food-menu-card .media h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 1.07143rem;
  background-color: black;
  z-index: 2;
}

.food-menu-card .media strong {
  background-color: black;
  display: block;
  padding-left: 15px;
  z-index: 2;
  position: relative;
}

.tabs-menu-nav > li > a {
  color: black;
  display: block;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  opacity: 0.5;
}

.tabs-menu-nav > li > a.active {
  opacity: 1;
  border-bottom-color: brown;
}

.media-body,
p {
  color: black;
}
/* Footer */
.grid-footer {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: "contact open maps";
  justify-items: center;
}

.contact {
  grid-area: contact;
}

.open {
  grid-area: open;
}

.maps {
  grid-area: maps;
}
/* Media queries */
@media screen and (min-width: 359px) and (max-width: 600px) {
  .grid-footer {
    display: grid;
    grid-template-columns: 1fr!important;
    grid-template-rows: 1fr 1fr 1fr!important;
    gap: 0 0;
    grid-template-areas: "contact" "open" "maps"!important;
    justify-items: center;
  }
}
@media screen and (max-width: 766px) {
  .navbar {
    height: 14vh;
  }

  .theoslogo {
    padding-top: 50px;
  }

  .carousel-inner {
    height: 300px;
  }

  .grid-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas: "card-1" "card-2" "card-3" "card-4";
    justify-items: center;
  }

  .grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas: "contact open" " maps maps";
    justify-items: center;
    height: 600px;
  }

  iframe {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .theoslogo {
    padding-top: 50px;
  }

  .grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas: "card-1 card-2" "card-3 card-4";
    height: 600px;
    justify-items: center;
  }
}